/* General Styles */

body {
  background-color: #A9A9A9;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.nav-link.active {
  color: #f37037;
  font-weight: bold;
}




/* Header Styles */
.header {
  background-color: #414042;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .logo h1 {
  margin: 0;
  font-size: 24px;
}

.header .logo p {
  margin: 0;
}

.header .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .nav-list .nav-item {
  margin-left: 20px;
}

.header .nav-list .nav-item .nav-link {
  color: white;
  text-decoration: none;
}

.header .nav-list .nav-item .nav-link:hover {
  background-color: #f37037;
  color: white;
}

.header .btn-login {
  background-color: white;
  color: #414042;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
}

.header .btn-login:hover {
  background-color: #f37037;
  color: white;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: calc(100vh - 60px); /* Adjusted to fit below header */
  margin-top: 60px; /* Adjusted for header height */
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.hero-text h1 {
  font-size: 48px;
  margin: 0;
}

/*Hero icon*/
.icon-container {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 10;
  color: rgb(0, 0, 0);
}

.icon-container:hover .square {
  transform: translate(-50%, -50%) rotate(45deg);
}


.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}


/* Projects Section */
.projects-section {
  padding: 60px 0;
  background: #f8f9fa;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.projects-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.project-card {
  perspective: 1000px;
  margin-bottom: 30px;
  position: relative;
  height: 350px; /* Fixed height for all cards */
}

.project-card .card-front,
.project-card .card-back {
  width: 100%;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
}

/* .project-card .card-front {
  background: #A9A9A9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  
} */

.project-card .card-back {
  background: #414042;
  color: #fff;
  transform: rotateY(180deg);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);
  
}

.custom-color {
  color: #ddd;
  margin-top: 10px;
}


.project-card:hover .card-front {
  transform: rotateY(180deg);
}

.project-card:hover .card-back {
  transform: rotateY(360deg);
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.project-card h3 {
  margin-top: 10px;
}

/* Card Styles */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.close-button:hover {
  background-color: #f37037;
  color: #fff;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}

.card-content h2 {
  text-align: center;
  margin: 10px 0;
}

.history {
  font-size: 14px;
  color: #555;
}

.share-button {
  background-color: #f37037;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.share-button:hover {
  background-color: #e65a23;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
}

.modal-body {
  display: flex;
}

.modal-image {
  flex: 1;
  padding-right: 20px;
}

.modal-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.modal-details {
  flex: 2;
}

#modal-heading {
  text-align: center;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}



/* Intern Card Styles */
h2.text-center {
  text-align: center;
  margin-top: 10px;
  font-size: 48px ;

}

.intern-card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* Set a fixed width */
  max-width: 250px;
  height: 400px; /* Set a fixed height */
  margin: 10px;
  
}

.intern-card:hover {
  transform: scale(1.05);
}

.intern-card .intern-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.intern-card .intern-info {
  flex: 1;
  margin-top: 10px;
}

.intern-card .intern-info h3 {
  margin: 0;
}

.intern-card .intern-info p {
  font-size: 14px;
}

.intern-card .social-icons {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.intern-card .social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

.intern-card .social-icons a:hover {
  color: #f37037;
}

.intern-card:hover .social-icons {
  opacity: 1;
}

/* Grid and List View Styles */
#interns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Media Queries for Responsive Design */
@media (min-width: 1200px) {
  .grid-view .intern-card {
    flex: 1 1 calc(25% - 10px); /* 4 cards per row */
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .grid-view .intern-card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row */
  }
}

@media (max-width: 767px) {
  .grid-view .intern-card {
    flex: 0 1 100%; /* 1 card per row */
  }
}





.list-view .intern-card {
  width: 100%;
  margin-bottom: none;
  margin-bottom: 20px;
  
}




.btn-see-more {
  background-color: #414042;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-see-more:hover {
  background-color: #f37037;
  color: white;
}


/* About Us Section */
#about-us {
  background-color: white;
  width: 100%;
  padding: 50px 0;
}

.about-us-section {
  padding: 0 20px;
}

.about-us-text {
  padding: 0 20px;
}

.btn-primary {
  background-color: #414042; /* Change the button color to orange */
  border-color: #414042; /* Change the border color to match */
  border-radius: 17px; /* Increase border-radius for a more rounded look */
  color: white; /* Optional: Adjust text color if needed */
}

.btn-primary:hover {
  background-color: #f37037; /* Change background to orange on hover */
  border-color: #f37037; /* Optional: Change border color to match on hover */
}


/* Stats Section */
.stats-section {
  background-color: #f37037;
  color: white;
}

.stat-item {
  margin-top: 20px;
}

.stat-item i {
  margin-bottom: 10px;
  color: white;
}


/* Footer Styles */
.footer {
  background-color: #414042;
  color: #ffffff;
  flex-shrink: 0;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.footer .footer-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer .footer-subtitle {
  font-size: 0.875rem;
  font-weight: lighter;
}

.footer .footer-link {
  color: #ffffff;
}

.footer .footer-link:hover {
  color: #f96302;
  text-decoration: none;
}

.footer .footer-text {
  font-size: 0.875rem;
}

.footer .scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f37037;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer .scroll-up-btn.show {
  opacity: 1;
}

#interns-container-list {
  display: none; /* Hide the list view by default */
}

.table-interns {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border: 2px solid #000000; /* Thicker border */
  border-radius: 30px; /* Rounded corners */
}

.table-interns:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.table-interns th, .table-interns td {
  border: 1px solid #000000;
  padding: 8px;
}

.table-interns th {
  background-color: #414042; /* Header background color */
  text-align: left;
  color: #fff; /* White text color for better contrast */
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

.table-interns td {
  vertical-align: top;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Row hover effect */
.table-interns tbody tr:hover {
  background-color: #f37037; /* Hover color */
}

/* Alternate row coloring */
.table-interns tbody tr:nth-child(odd) {
  background-color: #fefefe;
}

.table-interns tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.contact-section {
  background-color: white;
  padding: 50px 0;
}

.contact-section .contact-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-section .contact-tabs .tab-btn {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.contact-section .contact-tabs .tab-btn:hover,
.contact-section .contact-tabs .tab-btn.active {
  background-color: #f37037; /* Replace with your $button-hover-bg variable */
  color: white;
}

.contact-section .contact-form {
  display: none;
  width: 100%;
  max-width: 800px; /* Adjust this value based on your design requirements */
  background-color: #f7f7f7;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 auto; /* Center the form horizontally */
}

.contact-section .contact-form .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
#subscribe {
width: 5%;
}
.contact-section .contact-form .form-row .form-group {
  flex: 1;
  min-width: 200px;
}
.contact-section .contact-form select,
.contact-section .contact-form input,
.contact-section .contact-form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.625rem;
  border: 1px solid #d2cdcd;
  margin: 0 0 0;
  color: #757373;
  font-size: 14px;
  border-radius: 0;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  position: relative;
  z-index: 1;
}

/*.contact-section .contact-form select {
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 18px;
  background-color: #fff;
  height: 35px;
  padding: 0 0.625rem;
  margin: 0 0 1.25rem;
  font-size: 0.875rem;
  color: #757373 !important;
  width: 100%;
}
*/
.contact-section .contact-form textarea {
  height: 150px;
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

@media (max-width: 768px) {
  .contact-section .contact-tabs {
    flex-direction: column;
  }
  
  .contact-section .contact-tabs .tab-btn {
    margin: 5px 0;
  }

  .contact-section .contact-form {
    padding: 20px;
    max-width: 100%;
  }

  .contact-section .contact-form .form-row {
    flex-direction: column;
  }

  .contact-section .contact-form textarea {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .contact-section .contact-tabs .tab-btn {
    font-size: 12px;
    padding: 8px 16px;
  }

  .contact-section .contact-form {
    padding: 15px;
  }

  .contact-section .contact-form input,
  .contact-section .contact-form select,
  .contact-section .contact-form textarea {
    font-size: 12px;
  }

  .contact-section .contact-form textarea {
    height: 100px;
  }
}
.contact-section .form-check {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.contact-section .form-check input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label */
}

.contact-section .form-check .form-check-label {
  font-size: 14px;
  color: #757373;
}


#queryName {
  display: block;
    box-sizing: border-box;
    width:100%;
    height: 35px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}
#queryEmail {
  display: block;
    box-sizing: border-box;
    width:100%;
    height: 35px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

#queryMessage {
  display: block;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

.contact-section .contact-form.active-form {
  display: block;
  
}


.contact-section .contact-form .form-control {
 border-radius: 5px;
}

/* CSS to make all links within the specific paragraphs orange */
p a {
  color: #f37037; /* Sets the color of the links to orange */
}
.contact-section .contact-form .btn-submit {
  background-color: #414042; /* Replace with your $header-bg variable */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* Replace with your $button-radius variable */
}
.contact-section .contact-form .btn-submit:hover {
  background-color: #f37037; /* Replace with your $button-hover-bg variable */
}

.contact-section .contact-info {
  background-color: #e6e7e8;
  padding: 30px;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #f60;
}
.contact-section .contact-info h3 {
  margin-bottom: 20px;
}
.contact-section .contact-info p {
  margin-bottom: 10px;
}
.contact-section .contact-info .contact-link {
  color: #f37037;
  text-decoration: none;
}
.contact-section .contact-info .contact-link:hover {
  text-decoration: underline;
}


 


