/* General Styles */
body {
  background-color: #A9A9A9;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

/* Header Styles */
.header {
  background-color: #414042;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .logo h1 {
  margin: 0;
  font-size: 24px;
}

.header .logo p {
  margin: 0;
}

.header .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .nav-list .nav-item {
  margin-left: 20px;
}

.header .nav-list .nav-item .nav-link {
  color: white;
  text-decoration: none;
}

.header .nav-list .nav-item .nav-link:hover {
  background-color: #f37037;
  color: white;
}

.header .btn-login {
  background-color: white;
  color: #414042;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
}

.header .btn-login:hover {
  background-color: #f37037;
  color: white;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: calc(100vh - 60px); /* Adjusted to fit below header */
  margin-top: 60px; /* Adjusted for header height */
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.hero-text h1 {
  font-size: 48px;
  margin: 0;
}

/*Hero icon*/
.icon-container {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 10;
  color: rgb(0, 0, 0);
}

.icon-container:hover .square {
  transform: translate(-50%, -50%) rotate(45deg);
}


.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}


/* Projects Section */
.projects-section {
  padding: 60px 0;
  background: #f8f9fa;
  text-align: center;
}

.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.projects-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.project-card {
  perspective: 1000px;
  margin-bottom: 30px;
  position: relative;
  height: 350px; /* Fixed height for all cards */
}

.project-card .card-front,
.project-card .card-back {
  width: 100%;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
}

.project-card .card-front {
  background: #A9A9A9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  
}

.project-card .card-back {
  background: #f37037;
  color: #fff;
  transform: rotateY(180deg);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);
  
}

.project-card:hover .card-front {
  transform: rotateY(180deg);
}

.project-card:hover .card-back {
  transform: rotateY(360deg);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.project-card h3 {
  margin-top: 10px;
}



/* Intern Card Styles */
h2.text-center {
  text-align: center;
  margin-top: 10px;
  font-size: 48px ;

}

.intern-card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.intern-card:hover {
  transform: scale(1.05);
}

.intern-card .intern-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.intern-card .intern-info {
  margin-top: 10px;
}

.intern-card .intern-info h3 {
  margin: 0;
}

.intern-card .intern-info p {
  font-size: 14px;
}

.intern-card .social-icons {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.intern-card .social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

.intern-card .social-icons a:hover {
  color: #f37037;
}

.intern-card:hover .social-icons {
  opacity: 1;
}

/* Grid and List View Styles */
#interns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-view .intern-card {
  flex: 1 1 22%; /* 4 cards per row */
  margin: 0;
}

.list-view .intern-card {
  width: 100%;
  margin-bottom: 20px;
}

.btn-see-more {
  background-color: #414042;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-see-more:hover {
  background-color: #f37037;
  color: white;
}

/* Footer Styles */
.footer {
  background-color: #414042;
  color: #ffffff;
  flex-shrink: 0;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.footer .footer-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer .footer-subtitle {
  font-size: 0.875rem;
  font-weight: lighter;
}

.footer .footer-link {
  color: #ffffff;
}

.footer .footer-link:hover {
  color: #f96302;
  text-decoration: none;
}

.footer .footer-text {
  font-size: 0.875rem;
}

.footer .scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f37037;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer .scroll-up-btn.show {
  opacity: 1;
}

#interns-container-list {
  display: none; /* Hide the list view by default */
}

.table-interns {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border: 2px solid #000000; /* Thicker border */
  border-radius: 30px; /* Rounded corners */
}

.table-interns:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.table-interns th, .table-interns td {
  border: 1px solid #000000;
  padding: 8px;
}

.table-interns th {
  background-color: #414042; /* Header background color */
  text-align: left;
  color: #fff; /* White text color for better contrast */
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

.table-interns td {
  vertical-align: top;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Row hover effect */
.table-interns tbody tr:hover {
  background-color: #f37037; /* Hover color */
}

/* Alternate row coloring */
.table-interns tbody tr:nth-child(odd) {
  background-color: #fefefe;
}

.table-interns tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.contact-section {
  background-color: white;
  padding: 50px 0;
}
.contact-section .contact-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.contact-section .contact-tabs .tab-btn {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.contact-section .contact-tabs .tab-btn:hover,
.contact-section .contact-tabs .tab-btn.active {
  background-color: #f37037; /* Replace with your $button-hover-bg variable */
  color: white;
}
.contact-section .contact-form {
  display: none;
  width: 100%;
  background-color: #f7f7f7;
  padding: 30px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#firstName {
  display: block;
    box-sizing: border-box;
    width:200%;
    height: 35px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    position: relative;
    z-index: 1;
}

#lastName {
  display: block;
    box-sizing: border-box;
    width:200%;
    height: 35px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    position: relative;
    z-index: 1;
}

#email {
  display: block;
    box-sizing: border-box;
    width:200%;
    height: 35px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    position: relative;
    z-index: 1;
}






#hearAbout {
  background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 18px;
    background-color: #fff;
    width: 200% ;
    box-shadow: none;
    display: block;
    box-sizing: border-box;
    height: 35px;
    padding: 0 .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 1.25rem;
    font-size: .875rem;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
   
    color: #757373 !important;
} 

#message {
  display: block;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    
    position: relative;
    z-index: 1;
}

#queryName {
  display: block;
    box-sizing: border-box;
    width:100%;
    height: 35px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    position: relative;
    z-index: 1;
}
#queryEmail {
  display: block;
    box-sizing: border-box;
    width:100%;
    height: 35px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    position: relative;
    z-index: 1;
}

#queryMessage {
  display: block;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: .625rem;
    border: 1px solid #d2cdcd;
    margin: 0 0 16px;
    color: #757373;
    font-size: 14px;
    border-radius: 0;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    
    position: relative;
    z-index: 1;
}

.contact-section .contact-form.active-form {
  display: block;
  
}


.contact-section .contact-form .form-control {
 border-radius: 5px;
}

/* CSS to make all links within the specific paragraphs orange */
p a {
  color: #f37037; /* Sets the color of the links to orange */
}
.contact-section .contact-form .btn-submit {
  background-color: #414042; /* Replace with your $header-bg variable */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* Replace with your $button-radius variable */
}
.contact-section .contact-form .btn-submit:hover {
  background-color: #f37037; /* Replace with your $button-hover-bg variable */
}

.contact-section .contact-info {
  background-color: #e6e7e8;
  padding: 30px;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #f60;
}
.contact-section .contact-info h3 {
  margin-bottom: 20px;
}
.contact-section .contact-info p {
  margin-bottom: 10px;
}
.contact-section .contact-info .contact-link {
  color: #f37037;
  text-decoration: none;
}
.contact-section .contact-info .contact-link:hover {
  text-decoration: underline;
}






